* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

:root {
  --main-color: #219ebc;
  --secondary-color: #8ecae6;
}

body {
  display: grid;
  grid-template-rows: 8% 92%;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 1.4rem;

  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.options label {
  margin-left: 20px;
  font-weight: 500;
}

.options label:hover {
  color: var(--main-color);
}

.sidebar {
  background-color: var(--main-color);
  font-size: 2rem;
  color: white;
  font-weight: 600;
  padding: 10px;
  padding-top: 30px;
  border-top-right-radius: 10px;
}

.sidebar ol {
  margin-top: 10px;
}

.sidebar li {
  list-style: none;

  font-size: 1.5rem;
  padding: 10px;
}

.sidebar li:hover {
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.todo-view {
}

.seperator {
  height: 2px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
}

.project-name {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 15px 0px 0px 20px;
}

.project-seperator {
  width: 90%;
  height: 1px;
  background-color: gray;
  margin-left: 20px;
}
