* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-color: #219ebc;
}

body {
  display: grid;
  grid-template-rows: 10% 90%;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.header {
}

.sidebar {
  background-color: var(--main-color);
}

.todo-view {
}
